<template>
  <div>
		<center>
		<div id="ApplicationRequired" class="Application">
				<center>
			<h1>Get Ready</h1>
				</center>
			<p>
				Your account is all set up.
			</p>
			<p>
			<br>
			<br>
				Start by reviewing our<br>
				<button class="DosButton" v-on:click="$router.push('/dataPolicy')">Data Policy</button>
			</p>
			<p>
				Then, interact with your<br>
				<button class="DosButton" v-on:click="$router.push('/feed/single')">News Feed</button>
			</p>
			</p>
		</div>
		</center>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

async function SendUpdateRequest(instance) {
    const emailToken = instance.$route.params.emailToken
    console.log('emailToken', emailToken)
    const userName = instance.userName
    console.log('userName', userName)
    const options = {
        emailToken,
        userName,
    }
    network.NodeCall('/user/update', options)
        .then(result => {
            console.log('/user/update', 'result', result)
            if (result.data.success) {
                console.log('/user/update', 'success true')
                instance.$router.push('/user/creationSuccess')
            } else {
                console.log('/user/update', 'success false')
            }
        }).catch(error => {
            console.log('/user/update', 'error', error)
        })
}

export default {
  name: 'prod_user_create',
  data () {
		return {
			profile: '',
		}
  },
	methods: {
        SubmitButton() {
            this.$router.push('/feed/single')
        },
	},
	created() {
	},
}
</script>
