<template>
  <div>
		<center>
		<div id="ApplicationRequired" class="Application">
				<center>
			<h1>Congratulations!</h1>
				</center>
			<p>
				You've successfully secured the user name
				<center>
				<div class="EmailSpan">{{$route.params.userName}}</div><br>
				</center>
				<br>
				<strong>Profile</strong><br>
				<textarea
					type="text"
					id="ProfileText"
					v-model="profile"
					></textarea>
				<div id="Instructions">
					Write some details about yourself that others can see if they look you up.
				</div>

			</p>
			<p>
				<button v-on:click="SubmitButton" class="DosButton BigButton">Next</button>
			</p>
		</div>
		</center>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

async function SendUpdateRequest(instance) {
		const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
    const profile = instance.profile
    console.log('profile', profile)
    const options = {
        cookieToken,
        profile,
    }
    network.NodeCall('/user/update', options)
        .then(result => {
            console.log('/user/update', 'result', result)
            if (result.data.success) {
                console.log('/user/update', 'success true')
                instance.$router.push('/user/creationSuccess')
            } else {
                console.log('/user/update', 'success false')
            }
        }).catch(error => {
            console.log('/user/update', 'error', error)
        })
}

export default {
  name: 'prod_user_create',
  data () {
		return {
			profile: '',
		}
  },
	methods: {
        SubmitButton() {
            console.log('prod_user_create')
            SendUpdateRequest(this)
        },
	},
	created() {
	},
}
</script>
