<template>
  <div class="UserContainer">
		Looks like you have a bad token.
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
export default {
  name: 'user_createBadToken',
  data() {
		return {
		}
  },
	methods: {
	},
	created() {
	},
}
</script>
