<template>
  <div>
		<center>
		<div id="ApplicationRequired" class="Application">
				<center>
			<h1>Congratulations</h1>
				</center>
			<p>
				You've been invited to join Deep Revelations.
				<center>
				<div class="EmailSpan">{{email}}</div><br>
				</center>
				<br>
				<strong>User Name</strong><br>
				@<input
					type="text"
					id="UserNameText"
					class=""
					placeholder="user_name"
					v-model="userName"
					/>
				<div v-if="errorMessage" id="ErrorMessage" class="Hidden">
					{{errorMessage}}
				</div>
				<div id="Instructions">
				The name may contain letters, numbers, and the underscore (_) and period (.) symbols.
				</div>
				<div id="Instructions">
				You must find a name that is not in use.
				</div>

			</p>
			<p>
				<button v-on:click="SubmitButton" class="DosButton BigButton">Next</button>
			</p>
		</div>
		</center>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

function UserNameOk(userName) {
	if (userName.length == 0) {
		return false
	}
	for (var i = 0; i < userName.length; i++) {
		const c = userName.charAt(i)
		const isLower = 'a' <= c && c <= 'z'
		const isUpper = 'A' <= c && c <= 'Z'
		const isDigit = '0' <= c && c <= '9'
		const isUnder = c == '_' || c == '.'

		if (isLower || isUpper || isDigit || isUnder) {
			// pass
		} else {
			return false
		}
	}
	return true
}

async function SendCreateRequest(instance) {
    const emailToken = instance.$route.params.emailToken
    console.log('emailToken', emailToken)
    const userName = instance.userName
    console.log('userName', userName)

		if (!UserNameOk(userName)) {
				instance.errorMessage = 'Problem with the name. Only use letters, numbers and the underscore (_) and period (.) symbols.'
				return
		}
    const options = {
        emailToken,
        userName,
    }
    network.NodeCall('/user/create', options)
        .then(result => {
            console.log('/user/create', 'result', result)
            if (result.data.success) {
							const cookieToken = result.data.cookieToken
							if (cookieToken) {
								cookies.SetCookie(cookies.authentication_token_cookie, cookieToken, 30)
								cookies.SetCookie(cookies.userName, userName, 30)
                instance.$router.push('/user/createProfile/' + userName)
							} else {
								console.log('CreateCookieToken', 'cookieToken not found')
							}
            } else {
                console.log('/user/create', 'success false')
            }
        }).catch(error => {
            console.log('/user/create', 'error', error)
        })
}

async function CheckEmailToken(instance) {
    const emailToken = instance.$route.params.emailToken
    network.NodeCall('/emailToken/validate', {
            emailToken
        })
        .then(result => {
            console.log('/emailToken/validate', 'result', result)
            if (result.data.success) {
                instance.email = result.data.email
            } else {
                instance.$router.push('/user/createBadToken')
            }
        }).catch(error => {
            console.log('/emailToken/validate', 'error', error)
        })
}

export default {
    name: 'prod_user_create',
    data() {
        return {
            userName: '',
            email: null,
						errorMessage: null,
        }
    },
    methods: {
        SubmitButton() {
            console.log('prod_user_create')
            SendCreateRequest(this)
        }
    },
    created() {
        CheckEmailToken(this)
    },
}
</script>
