<div class="home">
    <headerBar title="Browsing" />
    <div v-if="userView" class="DosCascadeWindow Flex">
        <div class="DosWindow">
            <div class="WindowTitle">Logout</div>
            <fieldset>
                <legend>Actions</legend>
                <button class="DosButton" @click="$router.push('/login/logout')">Logout</button>
            </fieldset>
        </div>
        <div class="DosWindow">
            <div class="WindowTitle">Your Profile</div>
            <fieldset>
                <legend>Email</legend>
                <div class="TextLike">
                    {{userView.email}}
                </div>
            </fieldset>
            <fieldset>
                <legend>Profile</legend>
                <textarea v-model="userView.profile" class="MiddleTextarea TextLike"></textarea>
								<div class="ButtonHolder">
										<button class="DosButton" v-on:click="HandleReset">Reset</button>
										<button class="DosButton" v-on:click="HandleSave">Save</button>
								</div>
            </fieldset>
        </div>
        <div class="DosWindow">
            <div class="WindowTitle">Data Policy</div>
            <fieldset>
                <legend>Actions</legend>
								<button class="DosButton" v-on:click="CheckDataPolicy">Review Policy</button>
            </fieldset>
        </div>
    </div>
</div>
