<template>
  <div class="home">
	<div v-if='currentStep == 0'>
        step 0
    </div>
	<div v-if='currentStep == 1'>
        step 1
    </div>
      <button v-on:click="NextButton">Next</button>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

export default {
  name: 'prod_user_update',
  data () {
		return {
			currentStep: 0
		}
  },
	methods: {
        NextButton() {
            this.currentStep += 1
        }
	},
	created() {
	}
}
</script>
