<template>
  <div class="home">
	{{$route.params.attribute}}
    <div v-if="$route.params.attribute == 'bio'">
        <div>
            enter a bio:
        </div>
        <div>
            <textarea></textarea>
        </div>
        <div>
            <button>Update</button>
        </div>
    </div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

export default {
  name: 'prod_user_update',
  data () {
		return {
			
		}
  },
	methods: {

	},
	created() {
	}
}
</script>
