<template>
  <div class="home">
    <div id="invited-text">
        You have been invited to join Propaganda Gold.
    </div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

export default {
  name: 'prod_invite_accept',
  data () {
		return {
		}
  },
	created() {
		const emailToken = this.$route.params.emailToken
		console.log('emailToken', emailToken)
		this.$router.push('/user/create/' + emailToken)
	},
}
</script>
