<template>
  <div class="DosWindow">
            <div class="WindowTitle">Thanks!</div>
			<p>
			</p>
				<div class="Banner"> Deep<br>Revelations</div>
			<div class="EmailSpan">
				{{$route.params.email}}
			</div>
			<p>
				You have been added to the email list.
			</p>
			<p>
				We will send you interesting emails and, if you seem like a genuine user, we will invite you to join the network.
			</p>
		</div>
  </div>
</template>

<script>
export default {
  name: 'login_applicationSuccess',
  data () {
		return {
		}
  },
	methods: {
	},
	created() {
	}
}
</script>
