<template src="./applicationRequired.html" />

<script>
import cookies from '@/lib/cookies.js'
import network from '@/lib/network.js'

async function SendApplication(instance) {
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	network.NodeCall('/application/create', {
		fullName: instance.fullName,
		email: instance.email,
		profile: instance.profile,
	})
	.then(result => {
		console.log('/application/create', {result})
		if (result.data.success) {
				instance.$router.push('/login/applicationSuccess/' + encodeURIComponent(instance.email))
		} else {
			console.log('/application/create', 'failure')
		}
	}).catch(error => {
		console.log('/application/create', {error})
	})
}

export default {
  name: 'prod_login_applicationRequired',
  data () {
		return {
			fullName: '',
			email: '',
			profile: '',
		}
  },
	methods: {
		SendButton() {
			SendApplication(this)
		}
	},
	created() {
		console.log('prod_login_applicationRequired')
		this.email = this.$route.params.email
	}
}
</script>
