<div>
    <div class="Flex">
        <div class="DosWindow">
            <div class="Banner"> Deep<br>Revelations</div>
            <div class="TextLine">
                A social network with retro look and futuristic intelligence.
            </div>
            <div class="TextLine">
                Think different, again.
            </div>
        </div>
        <div class="DosWindow">
            <div class="WindowTitle">Join our Mailing List</div>
            <p>
                Please <strong>join our mailing list</strong>.
            </p>
            <p>
                You'll receive free educational material about computers and technology.
                And, every entry to the mailing list will be considered for a <strong>Deep Revelations</strong> ``early adopter'' account.
            </p>
            <fieldset>
                <legend>Email</legend>
                <input type="text" id="EmailText" class="InputText" placeholder="" v-model="email" />
            </fieldset>
            <fieldset>
                <legend>Name</legend>
                <input type="text" class="InputText" id="FullNameText" placeholder="" v-model="fullName" />
            </fieldset>
            <fieldset>
                <legend>Interests</legend>
                <textarea id="BioTextarea" class="MiddleTextarea" placeholder="" v-model="profile"></textarea>
            </fieldset>
            <p>
                <button v-on:click="SendButton" class="DosButton BigButton">Send</button>
            </p>
        </div>
    </div>
    <div class="DataPolicy">
        <a href="https://thinkdifferentagain.art/deep-revelations-data-policy.html">data policy</a>
    </div>
</div>
