<template>
  <div class="page">
		login<br>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
function CreateCookieToken(emailToken, instance) {
	console.log('CreateCookieToken', 'emailToken', emailToken)
	const options = {
		emailToken,
	}
	network.NodeCall('/cookieToken/create', options)
	.then(result => {
		console.log('CreateCookieToken', 'result', result)
		if (result.data.success == false) {
			// TODO(greg) handle this
			console.log('CreateCookieToken', 'result.data', result.data)
		} else {
			// Set the cookie!
			const cookieToken = result.data.cookieToken
			const userName = result.data.userName
			console.log('CreateCookieToken', 'cookieToken', cookieToken)
			if (cookieToken) {
				cookies.SetCookie(cookies.authentication_token_cookie, cookieToken, 30)
				cookies.SetCookie(cookies.userName, userName, 30)
				instance.$router.push('/feed/single')
			} else {
				console.log('CreateCookieToken', 'cookieToken not found')
			}
		}
	}).catch(error => {
		console.log('CreateCookieToken', 'error', error)
	})
}

export default {
  name: 'prod_login_cookieToken',
  data () {
		return {
		}
  },
	methods: {
	},
	created() {
		const emailToken = this.$route.params.emailToken
		console.log('prod_login_cookieToken', 'emailToken', emailToken)
		if (emailToken) {
			CreateCookieToken(emailToken, this)
		} else {
			console.log('CreateCookieToken', 'emailToken not found')
		}
	}
}
</script>
