	<div>
	    <div class="Flex">
	        <div class="DosWindow">
	            <div class="Banner"> Deep<br>Revelations</div>
	            <div class="TextLine">
	                A social network with retro look and futuristic intelligence.
	            </div>
	            <div class="TextLine">
	                Think different, again.
	            </div>
	        </div>

	        <div class="DosWindow">
	            <div class="WindowTitle">Enter</div>
	            <div class="TextLine">
	                Log in or join with your email address.
	            </div>
	            <fieldset>
	                <legend>Email</legend>
	                <div id="ErrorMessage1" class="Hidden">{{errorMessage1}}</div>
	                <input type=text id="EmailInputText" class="InputText" v-on:keyup.enter="SubmitButton" v-model="emailAddress" placeholder="email" />
	            </fieldset>
	            <button id="SubmitButton" v-on:click="SubmitButton">Submit</button>
	        </div>
	        <div class="DosWindow">
	            <div class="WindowTitle">Creator</div>
	            <div class="TextLine">
	                Deep Revelations is a creation of visionary 10X software engineer Greg Coppola.
	            </div>
	            <div class="TextLine">
	                <img src="/greg-desk.png" class="GregImage" />
	            </div>
	        </div>
	        <div class="DosWindow">
	            <div class="WindowTitle">Company Mission</div>
	            <div class="TextLine">
	                Our mission is to rejuvenate online technology, and end technological stagnation, through a mixture of:
	                <ul>
	                    <li>transparency</li>
	                    <li>education</li>
	                    <li>open source software</li>
	                    <li>editorial diversity</li>
	                    <li>advanced machine learning</li>
	                </ul>
	            </div>
	        </div>
	        <div class="DosWindow">
	            <div class="WindowTitle">Email List</div>
	            <div class="TextLine">
	                Join the email list to receive eye-opening information about technology, free of charge.
	            </div>
	            <fieldset>
	                <legend>Email</legend>
	                <div id="ErrorMessage2" class="Hidden">{{errorMessage2}}</div>
	                <input type=text class="InputText" v-on:keyup.enter="EmailButton" v-model="listEmail" placeholder="email" />
	            </fieldset>
	            <button id="EmailButton" v-on:click="EmailButton">Submit</button>
	        </div>
	    </div>
	    <div class="DataPolicy">
	        <a href="https://thinkdifferentagain.art/deep-revelations-data-policy.html">data policy</a>
	    </div>
	</div>
