<div class="Flex">
    <div class="DosWindow">
        <div class="WindowTitle"> Deep Revelations</div>
        <div class="TextLine">
            Check your email for a log-in link.
        </div>
        <fieldset>
            <legend>Email</legend>
            {{$route.params.email}}
        </fieldset>
    </div>
</div>
