<template>
  <div class="Flex">
		<div class="DosWindow">
			<div class="Banner"> Deep<br>Revelations</div>
			<div class="TextLine">
					You are logged out.
			</div>
			<button class="DosButton" v-on:click="HandleLogin">Log in</button>
		</div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

export default {
  name: 'prod_login_outside',
  data () {
		return {
			message: ''
		}
  },
	methods: {
		HandleLogin() {
			this.$router.push('/')
		},
	},
	created() {
	}
}
</script>
