<template>
  <div id="AppRoot">
		<div id="RouterView">
			<router-view/>
		</div>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data () {
		return {
		}
  },
	methods: {
	}
}
</script>


<style src="./css/common.css"></style>
<style src="./css/narrow.css"></style>
<style src="./css/wide.css"></style>
