<template>
	<div class="DosWindow">
		<div class="WindowTitle">Choose an Action</div>
		<fieldset>
			<legend>Private Actions</legend>
			<button class="ClassMenuButton ColdButton" v-on:click="ColdButton">Dislike</button>
			<button class="ClassMenuButton HotButton" v-on:click="HotButton">Like</button>
		</fieldset>
		<fieldset>
			<legend>Public Actions</legend>
			<button class="ClassMenuButton RelayButton" v-on:click="RelayButton">Repost</button>
		</fieldset>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
export default {
  name: 'booleanBar',
	props: {
		HotCaption: String,
		ColdCaption: String,
	},
  data () {
		return {
		}
  },
	methods: {
		HotButton() {
			this.$emit('HotEvent')
		},
		ColdButton() {
			this.$emit('ColdEvent')
		},
		RelayButton() {
			this.$emit('RelayEvent')
		},
	},
	computed: {
		CookieUserName() {
			return cookies.getUserNameCookie()
		},
	},
}
</script>

