<template>
	<div class="channel_selector_outside">
		<div id="ChannelBar">
			<div
				v-on:click="SetChannel('user')"
				v-bind:class="GetClass('user')"
				>PERSONAL</div>
			<div
				class="ChannelButton"
				v-on:click="SetChannel('open')"
				v-bind:class="GetClass('open')"
				>OPEN</div>
		</div>
		<div id="ChannelTextBar">
			<span id="ChannelPrefix">
				{{ChannelPrefix}}
			</span>
			<input
				type=text
				class="ChannelText"
				v-model="channelDescriptor.channelName"
				v-bind:disabled="DisableText"
				/>
		</div>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import network from '@/lib/network.js'
export default {
  name: 'channelSelector',
	props: {
	},
  data () {
		return {
			channelDescriptor: {
				channelType: 'user',
				channelName: '',
			}
		}
  },
	watch: {
		'channelDescriptor.channelType'(newValue, oldValue) {
			console.log('channelDescriptor', {newValue}, {oldValue})
			this.$emit('DescriptorChange', this.channelDescriptor)
		},
	},
	methods: {
		ResetText() {
			if (this.channelDescriptor.channelType == 'user') {
				this.channelDescriptor.channelName = cookies.getUserNameCookie()
			} else if (this.channelDescriptor.channelType == 'open') {
				this.channelDescriptor.channelName = ''
			}
		},
		SetChannel(newType) {
			console.log({newType})
			this.channelDescriptor.channelType = newType
			this.ResetText()
		},
		GetClass(className) {
			if (className == this.channelDescriptor.channelType) {
				return 'ChannelButton SelectedButton'
			} else {
				return 'ChannelButton UnselectedButton'
			}
		},
	},
	created() {
		console.log('channelSelector')
		this.$emit('DescriptorChange', this.channelDescriptor)
		this.ResetText()
	},
	computed: {
		CookieUserName() {
			return cookies.getUserNameCookie()
		},
		ChannelPrefix() {
			if (this.channelDescriptor.channelType == 'user') {
				return 'u/'
			} else if (this.channelDescriptor.channelType == 'open') {
				return 'n/'
			}
		},
		DisableText() {
			if (this.channelDescriptor.channelType == 'user') {
				return true
			} else if (this.channelDescriptor.channelType == 'open') {
				return false
			}
		}
	},
}
</script>
