<template>
	<div class="HeaderBar Flex">
			<div class="MenuButton" @click="$router.push('/feed/single')">
				Browse
			</div>
			<div class="MenuButton" @click="$router.push('/broadcast/create')">
				Post
			</div>
			<div class="MenuButton" @click="$router.push('/user/edit')">
				@{{CookieUserName}}
			</div>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
export default {
  name: 'headerBar',
	props: {
	},
  data () {
		return {
		}
  },
	methods: {
	},
	created() {
	},
	computed: {
		CookieUserName() {
			return cookies.getUserNameCookie()
		},
	},
}
</script>

