<template>
  <div class="classRelayBar">
		<center>
			<div class="RelayAs">
				Public Relay <br>
			<button class="ClassMenuButton GoldButton" v-on:click="GoldButton">Gold</button>
			<button class="ClassMenuButton CrapButton" v-on:click="CrapButton">Crap</button>
			<button class="ClassMenuButton ToxicButton" v-on:click="ToxicButton">Toxic</button>
</div>
		</center>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
export default {
  name: 'relayBar',
	props: {
	},
  data () {
		return {
		}
  },
	methods: {
		GoldButton() { this.$emit('GoldEvent') },
		CrapButton() { this.$emit('CrapEvent') },
		ToxicButton() { this.$emit('ToxicEvent') },
	},
	created() {
		console.log('relayBar', this.GoldCaption)
	},
}
</script>
