<template>
  <div class="nav-bar">
		<div v-if="resource">
			{{resource.title}}<br>
			<img v-bind:src="resource.image" class="ResourceImage"><br>
		</div>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

export default {
  name: 'renderResource',
	props: {
		resource: Object,
	},
  data () {
		return {
		}
  },
	created() {
		console.log('renderResource created')
	},
	methods: {
	},
	computed: {
	},
}
</script>
