<div class="nav-bar">
    <div v-if="broadcast">
        <fieldset>
            <legend>Channel</legend>
            <router-link class="ChannelLink" v-bind:to="ChannelLink">{{ChannelName}}</router-link>
        </fieldset>
        <fieldset>
            <legend>Details</legend>
            <router-link class="UserLink" v-bind:to="'/user/profile/' + broadcast.producerTuple.userName">{{AuthorUserName}}</router-link>
        </fieldset>
        <fieldset>
            <legend>Post</legend>
            <div id="TokensPart">
                {{RenderTokens}}
            </div>
            <div v-for="resource in broadcast.resources">
                <renderResource v-bind:resource="resource"></renderResource>
            </div>
        </fieldset>
    </div>
</div>
