<template>
  <div class="nav-bar">
		<div v-if="reference">
			<div id="MainFeedCell">
				<div id="PolarityPart" v-bind:class="PolarityCaption">
					{{PolarityCaption}}
				</div>
				<div id="NamePart">
					<router-link v-bind:to="'/user/profile/' + reference.producerTuple.userName">@{{reference.producerTuple.userName}}</router-link>
				</div>
				<div id="TokensPart">
					{{RenderTokens}}
				</div>
				<div v-if="reference.resource">
					<renderResource v-bind:resource="reference.resource"></renderResource>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

import renderResource from '@/components/renderResource.vue'

export default {
  name: 'renderReference',
	props: {
		reference: Object,
	},
	components: {
		renderResource,
	},
  data () {
		return {
			showVoters: true,
		}
  },
	created() {
		console.log('renderReference created')
	},
	methods: {
	},
	computed: {
		PolarityCaption() {
			const map = {
				'gold': 'Gold', 
				'crap': 'Crap',
				'toxic': 'Toxic',
			}

			return map[this.reference.polarity]
		},
		RenderTokens() {
			var buffer = ''
			for (const token of this.reference.tokens) {
				if (network.IsUrl(token)) {
					// pass
				} else {
					buffer += token + ' '
				}
			}
			return buffer
		},
	},
}
</script>
