<template>
  <div class="Resource">
		<a v-bind:href="resource.url">
			<img class="ResourceImage" v-bind:src="resource.image"><br>
			{{resource.title}}<br>
		</a>
	</div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'

import renderResource from '@/components/renderResource.vue'

export default {
  name: 'resourceComponent',
	props: {
		resource: Object,
	},
	components: {
	},
  data () {
		return {
		}
  },
	created() {
		console.log('resourceComponent created')
	},
	methods: {
	},
	computed: {
	},
}
</script>
