<div>
    <headerBar />
    <div v-if="broadcast"class="Flex">
        <div class="DosWindow">
            <div class="WindowTitle">Revelation</div>
            <renderBroadcast legend="Revelation" v-bind:broadcast="broadcast"></renderBroadcast>
        </div>
				<booleanMenuBar v-bind:Id="broadcast._id" HotCaption="NICE" ColdCaption="LAME" v-on:HotEvent="HandleHot" v-on:ColdEvent="HandleCold" v-on:RelayEvent="HandleRelay" />
    </div>
</div>
