<template>
  <div>
		<div v-if="!application_sent">
			<div id="application_inputs">
				type in your application<br>
				<input type=text v-model="email">
				<textarea v-model="textarea" rows="4" cols="50"></textarea><br>
				<button v-on:click="SubmitButton">submit</button>
			</div>
		</div>
		<div v-else>
			done
		</div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
async function SendApplication(instance) {
	grecaptcha.execute(process.env.VUE_APP_RECAPTCHA_PUBLIC, {action: 'homepage'}).then((token) => {
		logging.Log('recaptcha token', token)
		const options = {
			recaptcha_token: token,
			email: instance.email,
			textarea: instance.textarea
		}
		console.log('/api/application/create')
		console.log(options)
		network.NodeCall('/api/application/create', options)
		.then((result) => {
			logging.Log('success', result)
			instance.application_sent = true
		}, (error) => {
			logging.Log('error', error)
		})
	}, (error) => {
		logging.Log('recaptcha error', error)
	}
	)
}

export default {
  name: 'prod_broadcast_create',
  data () {
		return {
			application_sent: false,
			email: '',
			textarea: ''
		}
  },
	methods: {
		SubmitButton() {
			SendApplication(this)
		}
	},
	created() {
		console.log('prod_broadcast_create')
		const reference = this.$route.query.reference
		console.log('reference')
		console.log(reference)
		console.log(this.$route.query.reference)
		if('reference' in this.$route.query) {
			console.log('in')
			this.show_relay = true
			this.reference = this.$route.query.reference
		} else {
			console.log('out')
		}
		console.log(this.$route.query['reference'])

	}
}
</script>
