<template>
  <div>
		{{message}}
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
async function VerifyApplication(instance) {
	const applytoken = instance.$route.query.applytoken
	console.log('applytoken')
	console.log(applytoken)
	const options = {
		applytoken
	}
	console.log('/api/application/verify')
	console.log(options)
	network.NodeCall('/api/application/verify', options)
	.then((result) => {
		logging.Log('success', result)
		if (result.data.success) {
			instance.message = 'verification succeeded'
		} else {
			instance.message = 'verification failed'
		}
	}, (error) => {
		logging.Log('error', error)
	})
}

export default {
  name: 'prod_application_verify',
  data () {
		return {
			message: ''
		}
  },
	created() {
		console.log('prod_application_verify')
		VerifyApplication(this)
	}
}
</script>
