<template>
    <div>
        <headerBar />
			<div class="DosWindow">
            <div class="WindowTitle">Transmission Succeeded</div>
				<div class="TextLine">
            Broadcast has been sent.
        </div>
					<div v-if="broadcast">
							<renderBroadcast v-bind:broadcast="broadcast" v-on:NewPostEvent="NewPostHandler"></renderBroadcast>
					</div>
					<div class="ButtonHolder">
							<button class="DosButton" v-on:click="HandleDelete">Delete It</button>
							<button class="DosButton" v-on:click="HandleSend">OK</button>
					</div>
			</div>

    </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
import render from '@/lib/render/broadcast.js'
import Vue from 'vue'

import renderBroadcast from '@/components/renderBroadcast.vue'
import booleanMenuBar from '@/components/booleanMenuBar.vue'
import headerBar from '@/components/headerBar.vue'

async function LoadBroadcast(instance, broadcastId) {
	console.log('LoadBroadcast')
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	const options = {
		cookieToken,
		broadcastId,
	}
	network.NodeCall('/broadcast/read', options)
	.then(result => {
		console.log('/broadcast/read', 'result', result)

		if (result.data.success) {
			instance.broadcast = result.data.broadcast
		} else {
			if (result.data.error && result.data.error.loginFailed) {
				console.log('login failed')
			} else {
				console.log('LoadBroadcast', 'unhandled error', result.data)
			}
		}
	}).catch(error => {
		console.log('/broadcast/read', 'error', error)
	})
}

export default {
  name: 'prod_broadcast_read',
  components: {
	  renderBroadcast,
		booleanMenuBar,
		headerBar,
  },
  data () {
		return {
			broadcast: null,
		}
  },
  methods: {
		BackToFeed() {
			this.$router.push('/feed/single')
		},
		NewPostHandler() {
			console.log('NewPostHandler called this handler')
		},
		HandleSend() {
			console.log('Hot')
			this.$router.push('/feed/single')
		},
		HandleDelete() {
			console.log('Cold')
			this.$router.push('/broadcast/delete/' + this.$route.params.broadcastId)
		},
  },
created() {
	console.log('broadcast read created' + this.$route.params.broadcastId)
	LoadBroadcast(this, this.$route.params.broadcastId)
},
}
</script>
