<div class='component'>
    <headerBar />
    <div class="Flex">
        <div class='DosWindow'>
            <div class="WindowTitle">{{BroadcastLegend}}</div>
            <fieldset>
                <legend>Select Channel</legend>
                <channelSelector v-on:DescriptorChange="HandleDescriptorChange" />
            </fieldset>
						<fieldset v-if="ShowError">
							<legend>Error</legend>
							{{errorMessage}}
						</fieldset>
            <fieldset>
                <legend>Message</legend>
                <textarea class='LargeTextarea' id='CreateTextarea' v-model='broadcastTextarea' @paste='OnPaste' @input='OnInput' placeholder=""></textarea>
                <br>
                <div v-if='resource'>
                    <resourceComponent v-bind:resource='resource' />
                </div>
            </fieldset>
            <div class="ButtonHolder">
                <button class="DosButton" v-on:click="HandleCancel">Cancel</button>
                <button class="DosButton" v-on:click="HandleSend">Send</button>
            </div>
        </div>
        <div v-if='reference' class="DosWindow">
            <div class="GrayWindowTitle">Reference</div>
            <renderBroadcast legend="Original" v-bind:broadcast='reference'></renderBroadcast>
        </div>
    </div>
</div>
