<template>
  <div>
		<headerBar />
		<div v-if="broadcast">
			<div class="Caption">
				Are you sure you want to delete this post?
			</div>
			<renderBroadcast v-bind:broadcast="broadcast"></renderBroadcast>
						<div class="ButtonHolder">
							<button class="DosButton" v-on:click="HandleCancel">Cancel</button>
							<button class="DosButton" v-on:click="HandleDelete">Delete</button>
						</div>
		</div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
import render from '@/lib/render/broadcast.js'
import Vue from 'vue'

import renderBroadcast from '@/components/renderBroadcast.vue'
import booleanMenuBar from '@/components/booleanMenuBar.vue'
import headerBar from '@/components/headerBar.vue'

async function LoadBroadcast(instance, broadcastId) {
	console.log('LoadBroadcast')
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	const options = {
		cookieToken,
		broadcastId,
	}
	network.NodeCall('/broadcast/read', options)
	.then(result => {
		console.log('/broadcast/read', 'result', result)

		if (result.data.success) {
			instance.broadcast = result.data.broadcast
		} else {
			if (result.data.error && result.data.error.loginFailed) {
				console.log('login failed')
			} else {
				console.log('LoadBroadcast', 'unhandled error', result.data)
			}
		}
	}).catch(error => {
		console.log('/broadcast/read', 'error', error)
	})
}

async function DeleteBroadcast(instance, broadcastId) {
	console.log('DeleteBroadcast')
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	const options = {
		cookieToken,
		broadcastId,
	}
	network.NodeCall('/broadcast/delete', options)
	.then(result => {
		console.log('/broadcast/delete', 'result', result)
		if (result.data.success) {
			instance.$router.push('/broadcast/confirmDelete')
		} else {
			if (result.data.error && result.data.error.loginFailed) {
				console.log('login failed')
			} else {
				console.log('LoadBroadcast', 'unhandled error', result.data)
			}
		}
	}).catch(error => {
		console.log('/broadcast/read', 'error', error)
	})
}

export default {
  name: 'broadcast_read',
  components: {
	  renderBroadcast,
		booleanMenuBar,
		headerBar,
  },
  data () {
		return {
			broadcast: null,
		}
  },
  methods: {
		HandleDelete() {
			console.log('HandleDelete')
			DeleteBroadcast(this, this.$route.params.broadcastId)
		},
		HandleCancel() {
			console.log('HandleCancel')
			this.$router.push('/feed/single')
		},
  },
created() {
	console.log('broadcast read created')
	LoadBroadcast(this, this.$route.params.broadcastId)
},
}
</script>
