<template>
  <div>
		<div v-if="broadcast">
			<renderBroadcast v-bind:broadcast="broadcast"></renderBroadcast>
		</div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
import render from '@/lib/render/broadcast.js'
import Vue from 'vue'

import renderBroadcast from '@/components/renderBroadcast.vue'

async function LoadBroadcast(instance, broadcastId) {
	console.log('LoadBroadcast')
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	const options = {
		cookieToken,
		broadcastId,
	}
	network.NodeCall('/broadcast/read', options)
	.then(result => {
		console.log('/broadcast/read', 'result', result)

		if (result.data.success) {
			instance.broadcast = result.data.broadcast
		} else {
			if (result.data.error && result.data.error.loginFailed) {
				console.log('login failed')
			} else {
				console.log('LoadBroadcast', 'unhandled error', result.data)
			}
		}
	}).catch(error => {
		console.log('/broadcast/read', 'error', error)
	})
}

export default {
  name: 'prod_broadcast_read',
  components: {
	  renderBroadcast,
  },
  data () {
		return {
			broadcast: null,
		}
  },
  methods: {
  },
	created() {
		console.log('broadcast read created')
		LoadBroadcast(this, this.$route.params.broadcastId)
	},
}
</script>
