<template>
  <div>
	  <div>
			<div v-if="referenceBroadcast">
				<renderBroadcast v-bind:broadcast="referenceBroadcast" v-on:NewPostEvent="NewPostHandler"></renderBroadcast>
			</div>
			<div>
				<button v-on:click="GoldButton">Gold</button><br>
				<button v-on:click="PoopButton">Poop</button><br>
				<button v-on:click="ToxicButton">Toxic</button><br>
			</div>
		</div>
  </div>
</template>

<script>
import cookies from '@/lib/cookies.js'
import network from '@/lib/network.js'
import render from '@/lib/render/broadcast.js'

import renderBroadcast from '@/components/renderBroadcast.vue'

import Vue from 'vue'
const getUrls = require('get-urls');

async function 	LoadReferenceBroadcast(instance, referenceId) {
	console.log('LoadReferenceBroadcast', 'referenceId', referenceId)
	const cookieToken = cookies.GetCookie(cookies.authentication_token_cookie)
	const options = {
		cookieToken,
		broadcastId: referenceId,
	}
	network.NodeCall('/broadcast/read', options)
	.then((result) => {
		console.log('/broadcast/read', 'result', result)
		instance.referenceBroadcast = result.data.broadcast
	}, (error) => {
		console.log('/broadcast/read', 'error', error)
	})
}

export default {
  name: 'prod_broadcast_create',
	components: {
		renderBroadcast,
	},
  data () {
		return {
			referenceBroadcast: null,
			polarity: '',
		}
  },
	methods: {
		SubmitButton() {
			StartBroadcast(this)
		},
		GoldButton() {
			console.log('GoldButton')
			this.$router.push('/broadcast/create?referenceId=' + this.referenceBroadcast._id + '&polarity=Gold')
		},
		PoopButton() {
			console.log('PoopButton')
			this.$router.push('/broadcast/create?referenceId=' + this.referenceBroadcast._id + '&polarity=Poop')
		},
		ToxicButton() {
			console.log('ToxicButton')
			this.$router.push('/broadcast/create?referenceId=' + this.referenceBroadcast._id + '&polarity=Toxic')
		},
		NewPostHandler() {
			console.log('NewPostHandler')
		},
	},
	created() {
		const referenceId = this.$route.params.referenceId
		console.log('prod_broadcast_create.created', 'referenceId', referenceId)
		LoadReferenceBroadcast(this, referenceId)
	}
}
</script>
