body {
    background-color: #3465a4;
    font-family: System, monospace;
    font-size: 20px;
		margin: 0px;
}

textarea {
    outline: none;
    width: 96%;
}

a {
    color: white;
}


#AppRoot {
    height: 98.5vh;
}

#RouterView {
    height: 100%;
    width: 100%;
}

.InputText {
    margin: auto;
    font-size: 24px;
    padding: 4px;
    width: 95%;
}

.DosButton {
    color: black;
    background-color: silver;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.EmailSpan {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 20px;
    display: inline-block;
}

.DataPolicy a {
	color: black;
}

.WindowTitle {
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.GrayWindowTitle {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

fieldset {
    margin-top: 20px;
}

.Banner {
    background-color: black;
    color: white;
}

.HeaderTitle {
    display: flex;
    flex-direction: row;
}

.SmallLogo {
    width: 100px;
    display: inline;
}

.Flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.HeaderBar {
    background-color: #d7d3d4;
    color: black;
    position: relative;
    width: 100%;
    margin: 0px;
}

.MenuButton {
	padding: 10px;
    font-size: 18px;
		font-weight: bold;
}

.MenuButton:hover {
    background-color: black;
    color: #d7d3d4;
    cursor: pointer;
}


#TokensPart {
    margin: 10px;
    font-size: 30px;
    max-width: 500px;
    padding: 20px;
}

#PolarityPart {
    display: inline-block;
    padding: 10px;
}

#ChannelPart {
    background-color: black;
    margin: 10px;
    font-size: 30px;
    padding: 10px;
    max-width: 500px;
}

#ChannelPart a {
    color: white;
}

#NamePart a {
    color: blue;
    font-size: 16px;
    text-align: right;
}

#PostBorder {
    margin: 10px;
    padding: 10px;
}

.classBooleanBar {
    background-color: silver;
    color: white;
    border: 6px white double;
    padding: 20px;
    max-width: 400px;
    margin-top: 30px;
}

.classMenuWrapper {
    position: relative;
}

.classVotingWrapper {
    position: relative;
}

.ClassMenuButton {
    font-size: 20px;
    padding: 10px;
    width: 100px;
    margin: 5px;
}

#PrivateVerdict {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#Response {
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}

legend {
    color: black;
}

.Resource {
    color: black;
}

.ResourceImage {
    width: 200px;
}

#ChannelBar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ChannelEl {
    font-size: 30px;
    border: 2px blue solid;
    width: 50%;
    text-align: center;
}

.ChannelButton {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

.SelectedButton {
    background-color: darkblue;
    color: white;
}

.SelectedButton:hover {
    cursor: default;
}

.UnselectedButton {
    background-color: gray;
    color: black;
}

.UnselectedButton:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.ChannelText {
    width: 100%;
    font-size: 24px;
}

#ChannelTextBar {
    display: flex;
}

#ChannelPrefix {
    line-height: 50px;
    font-size: 24px;
}

.classRelayBar {
    padding-top: 50px;
}

.ResourceImage {
    max-width: 300px;
}

#DataPolicyRoot {
    background-color: white;
    max-width: 500px;
    padding: 50px;
}

.AlignLeft {
    text-align: left;
}

header {
    margin-bottom: 50px;
}

#CreateUserCaption {
    padding-bottom: 40px;
}

.SignupCaption {
    margin-top: 20px;
}

#UserNameText {
    width: 200px;
    font-size: 24px;
}

#Instructions {
    padding-top: 20px;
}

#ErrorMessage {
    background-color: red;
    color: black;
    padding: 10px;
}

.UserContainer {
    border: 2px black solid;
}

#ProfileText {
    height: 150px;
    font-size: 18px;
    width: 300px;
}

.DosWindow {
    border: 6px double white;
    background-color: #d7d3d4;
    padding: 40px;
    display: inline-block;
    margin: 10px;
}

.ClassUserPanel {
    width: 300px;
}

.ClassPanel {
    margin: 20px auto;
    font-size: 20px;
}

.ClassFixedBox {
    background-color: black;
    color: white;
    padding: 4px;
}

.TextLike {
    padding: 4px;
}

#UserNameBox {
    font-size: 36px;
}

#LogoutButton {
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 10px;
    margin: 10px;
}

#LogoutButton:hover {
    cursor: pointer;
}

.ClassPanel {
    margin: 20px auto;
}

.ClassFixedBox {
    background-color: black;
    color: white;
    padding: 4px;
}

.TextLike {
    padding: 4px;
    height: 20px;
}

.TextareaLike {
    padding: 4px;
    min-height: 200px;
}

#BotTextarea {
    width: 100%;
    height: 100px;
}

.ApplicationText {
    margin: auto;
    font-size: 24px;
    padding: 4px;
    width: 100%;
}

.CenterText {
    text-align: center;
}

#BioTextarea {
    height: 100px;
}

.BigButton {}

.Thanks {
    font-size: 42px;
    font-weight: bold;
}

#ErrorMessage {
    background-color: red;
    color: black;
    padding: 10px;
}

#GoodMessage {
    background-color: green;
    color: white;
    padding: 10px;
}

.Hidden {
    display: none;
}

.Visible {
    display: inherit;
}

#VersionNumber {
    display: inline-block;
    background-color: black;
    color: gold;
    padding: 10px;
    margin: 20px;
}

#VersionNumber:hover {
    cursor: pointer;
}

#ChannelBar {
    width: 100%;
}

.ChannelEl {
    font-size: 30px;
    border: 2px blue solid;
    width: 50%;
    text-align: center;
}

.ChannelButton {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.UnselectedButton {
    background-color: gray;
    color: black;
}

.UnselectedButton:hover {
    cursor: pointer;
}

.ChannelText {
    width: 100%;
}

.HeaderBar {
    background-color: #d7d3d4;
    color: black;
    font-size: 16px;
    width: 100%;
    margin: 0px;
}

.BlackTextarea {
    font-size: 20px;
    background-color: #d7d3d4;
    color: black;
}

.DosCascadeWindow {
    display: flex;
}

.MiddleTextarea {
    height: 100px;
    width: 98%;
    font-size: 20px;
}

.LargeTextarea {
    height: 200px;
    width: 98%;
    font-size: 20px;
}

.TextLine {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ChannelLink {
	color: blue;
}
.UserLink {
	color: black;
}
