@media only screen and (max-width: 599px) {
    .GregImage {
        width: 95%;
    }

    .Banner {
        font-size: 24px;
        padding: 10px;
    }

    .DosWindow {
        width: 99%;
				padding: 20px;
				margin-left: 5px;
				margin-right: 5px;
				margin-top: 5px;
				margin-bottom: 0px;
    }
}
