<template>
	<center>
		<div id="DataPolicyRoot">
			<header>
				Think different, again.
			</header>
        <div class="AlignLeft">
            <h1>Deep Revelations Data Policy</h1>
						Policy Version <em>alpha</em> 1.0<br>
						July 1, 2020

            <h2>Mission Statement</h2>
            <p>
                The fundamental mission of <em>Think different, again.</em> is to set a new standard in care and transparency, for our customers, and their data.
                As such, we take this data policy very seriously.
                If you have questions, comments, or feedback, please contact us immediately at <a href="mailto:data@thinkdifferentagain.art">data@thinkdifferentagain.art</a>.
            </p>
            <h2>Alpha Phase</h2>
            <p>
							This policy applies to the <em>alpha</em> series of launches of Deep Revelations.
							Each version of the policy will have its own version number, starting with "<em>alpha</em> 1.0", and growing from there during the <em>alpha</em> phase.
            </p>
            <h2>Right to Change during the Alpha Phase</h2>
            <p>
							During the <em>alpha</em> phase, we reserve the right to change the policy, to the greatest extent permissible by applicable laws.
							During this early proto-typing phase, we may need to make large changes to the product, which may require changes to the privacy policy.
							The version of the policy in effect at a given time will govern data collected during that time period.
							In the future, we may make longer-term commitments about our data policy.
            </p>
            <h2>Correspondence with the Source Code</h2>
            <p>
                We make every effort to communicate this data policy in plain, unambiguous language.
                In addition, because our source code is available as "open-source", it will be possible to corroborate the language in this policy with actual code points in the software.
                Readers not familiar with source code may seek the assistance of those who are.
            </p>
            <h2>Reminder about New Users</h2>
            <p>
							Remember that new users can join the network at any time.
							When a user joins the network, they will retroactively have the ability to view posts made before they joined.
							Thus, whenever a rule states that a certain datum of information is visible to "other members of the network", this includes those who join in the future.
            </p>
            <h2>Overview of Data Collection Settings</h2>
            <p>
							The following sections correspond to the current "settings" of data collection. These are:
							<ul>
								<li>Application to Join</li>
								<li>User Profile</li>
								<li>Messages Broadcast by the User</li>
								<li>User Reactions and Labels</li>
							</ul>
            </p>
            <h3>Application to Join</h3>
            <p>
						When the user applies to join, we will record their 1) email, 2) name, and 3) a profile.
						These applications will be manually reviewed by the admissions team of <em>Think different, again.</em>.
						The data in these applications will be stored privately for one year, to create a model of authentic versus malicious applications.
						A user's application will not be visible to any other users, or anyone outside of <em>Think different, again.</em>.
            </p>
            <h3>User Profile</h3>
            <p>
							The user will be invited to upload 1) a unique user name, 2) a profile, and 3) a visual profile image.
							These will all be public to all other members of the network.
							The user may be given the option to make their profile publicly visible to non-members, and accessible to search engines.
							A user's profile will remain stored a long as they have not deleted their accounts.
            </p>
            <h3>Messages Broadcast by the User</h3>
            <p>
							Messages broadcast by the user will be public to all other members of the network.
							Popular messages will be kept indefinitely, or until the author of the broadcast message chooses to delete it.
							<em>Think different, again.</em> and <em>Deep Revelations</em> reserve the right to delete posts if we determine they are not cost effective to store.
							We will be completely transparent about how the determination of cost effectiveness is made.
            </p>
            <h3>Private Labels</h3>
						When the user adds a private "+1" or "-1" to a post, we call that a <em>private label</em>.
						These labels are "private" in the sense that other users of the network do not see a given user's private labels.
						These private will be stored by the system for one year for machine learning purposes.
						We may want to "retrain" new machine learning models over the old data.
						We will also give users the option to have us retain their private labels indefinitely.
						We will ask users about this before the expiry date.
						The user should also note that their private labeling patterns will result in affinities that <em>indirectly</em> suggest what a users' voting patterns might have been like, even though the private labels themselves will not be public.
            <h2>Pseudonymous Usage</h2>
            <p>
						A user does not need to use their actual name anywhere in their user profile.
						During the application phase, a user is encouraged to use their actual name, but the application is not being made public, and so the correspondence between user and application is not public.
            </p>
            <h2>Contact</h2>
            <p>
						This data policy has been prepared by <em>Think different, again.</em>, the operating name of <em>Propaganda Gold, Inc.</em>.
                If you have questions, comments, or feedback, please contact us immediately at <a href="mailto:data@thinkdifferentagain.art">data@thinkdifferentagain.art</a>.
            </p>
        </div>
		</div>
	</center>
</template>
