<template>
  <div class="page">
		index page. should redirect.
  </div>
</template>

<script>
import logging from '@/lib/logging.js'
import network from '@/lib/network.js'
async function CheckCookietoken(instance) {
console.log('CheckCookietoken')
	network.CheckCookietokenCall()
	.then(result => {
		console.log('CheckCookietoken', 'result', result)
		if (result.data.success) {
			console.log('CheckCookietoken', 'yes logged in')
			instance.$router.push('/feed/single')
		} else {
			console.log('CheckCookietoken', 'not logged in')
			instance.$router.push('/login/emailToken')
		}
	}).catch(error => {
		console.log('CheckCookietoken', 'error', error)
		instance.$router.push('/login/emailToken')
	})
}

export default {
  name: 'prod_index',
  data () {
		return {
		}
  },
	methods: {
	},
	created() {
		console.log('prod_index')
		CheckCookietoken(this)
	}
}
</script>

